#dd{
  display: flex;
  flex-wrap: wrap;
}

.inactive{
  pointer-events: none;
  opacity: 75%;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}
h5{
  max-width: 700px;
}
.dead{
  pointer-events: none;
  opacity: 75%;
}
@media screen and (max-width: 480px) {
  #dd{
    flex-direction: column;
  }
  .container{
    margin-left: 2px;
    margin-right: 2px;
  }
}